<div class="col-md-12" *ngIf="!sent" >
    <label  class="form-label">Email*</label>
    <input type="email" class="form-control" name="email"  [(ngModel)]="email"
    pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">

  <button type="submit" class="btn btn-primary login-btn" (click)="sendMail()">Verify</button>
  <div class="alert alert-danger" role="alert" *ngIf="error">
  {{ errorMessage }}
  </div>
</div>
<div class="alert alert-success" *ngIf="successChange">
  {{message}}
</div>

<div *ngIf="remForm">
<form class="row g-3" *ngIf="sent" name="form" (ngSubmit)="frm.form.valid && onSubmit()" #frm="ngForm" novalidate>
  <div class="row">
    <div class="col-md-12">
      <label class="form-label">Token</label>
      <input type="text" class="form-control" name="token" [(ngModel)]="token" required>
       
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="form-label">Password*</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
    </div>
  </div>
  <div class="col-md-6">
    <label for="pwd">Confirm password:</label>
    <input type="password" class="form-control" name="cpassword" [(ngModel)]="form.cpassword" #cpassword="ngModel" required
    [class.is-invalid]="(cpassword.invalid && cpassword.touched)">
    <small class="text-danger" [class.d-none]="cpassword.value==password || cpassword.untouched">not matching </small>
  </div>

  <div class="row">

    <div class="col-12 w-60px sign-up">
      <button type="submit" class="btn btn-primary register-btn">Update Password</button>
    </div>
  </div>
  <div class="alert alert-warning" *ngIf="frm.submitted && formError">
    {{ errorMessage }}
  </div>
</form>
</div>  

  <div class="alert alert-success" *ngIf="!remForm">
    {{message}}
  </div>


